.navBar{
    background-color: #293241;
    color:white;
    
    
    
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-brand{
    color: white;
}
.nav-link {
    font-weight: bolder;
    color: white; /*will change color of text within the element */
}
    
a.nav-link:hover {
    background-color:green; /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
}

.dropdown-menu{
    background-color: #3d5a80;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: red; 
}