.navBar{
    background-color: #f1f50a;
    
    
    
}

a.nav-link {
    font-weight: bolder;
    color: red; /*will change color of text within the element */
}
    
a.nav-link:hover {
    background-color:green; /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
}

/* .dropdown-menu{
    background-color: yellow;
}
.dropdown-item{

}

.dropdown-item:hover{
    background-color:green; 
    color: white; 
} */