
.carouselImg{
    margin: 0 auto;
    
}



.carousel-indicators li{
    background-color: red;
    color: green;
}

.carousel-control-prev, .carousel-control-next{
    background-color: red;
    color: green;
}