
.carouselImg{
    margin: 0 auto;
    
}



.carousel-indicators li{
    background-color: red;
    height: 5px;
}

.carousel-control-prev, .carousel-control-next{
    background-color: yellowgreen;
    
}

.home .carousel-inner{
    max-height: 70vh;
}